
main.landing-page {
    flex: 1 0 auto;
    background: linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5)),
                     url('../../assets/landingPageBackground2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
}


.aad-title {
    font-size: 5em;

    font-weight:100;
    text-shadow: 2px 1px #262626;
    color: white;
    margin-left: 1em;
    line-height: 70px;
}

#aad-title-container {
    padding-top: 30px;
}


#aad-paragraph h5 {
    font-weight:300;
    color: white;
    text-shadow: 1px 1px black;;
    margin-left: 6em;
    margin-top: 3em;
    line-height: 20px;
    max-width: 70%;
    text-align: center;
}

#signup-login-buttons-container {
    text-align:center;
    margin-top: 4em;
}

.signup-login-buttons {
    margin: 1em;
    background-color: white;
    color: black;
    font-size: 1.1em;
}

.signup-login-buttons:hover,
.signup-login-buttons:focus {
    background-color: #033076;
    color: white;
}

.side-nav {
    background-color: #262626;
}