.author-class {
    display: inline-block;
    font-weight: bold;
    font-size: .7em;
    border: 1px solid #262626;
    margin-top: 10px !important;
    
    margin: auto;
    border: 1px solid #262626;
    line-height: 36px;
    text-transform: uppercase;
    padding: 5px;
    min-width: 70%;
    max-width: 70%;
}


.margin-top-bottom {
    margin: 10px auto !important;
}

.filter-icon {
    padding-bottom: 2px !important;
}


[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
    background-color: #262626 !important;
    border: none !important;
}

/* [type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
    background-color: #262626;
} */

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
    background-color: #262626 !important;
    border: none !important;
}
