
.reviews-wrapper {
    max-width: 90%;
    margin:auto;
}

.materialize-textarea {
    min-width: 300% !important;
}

.c-item {
    min-width: 100%;
}



.file-preview-conatiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200%;
}

.file {
    margin: 10px;
    height: 75px;
    width: 75px;
    border-bottom: 1px solid black;
}

.non-image-file {
    display: flex;
    text-align: center;
    align-items: center;
    min-width: 100%;
}

div.btn {
    background-color: #dc4c18 !important;
    color: white;
}

textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #dc4c18;
    box-shadow: 0 1px 0 0 #dc4c18;
}

.review-underline-wrapper {
    max-width: 90%;
    padding: 10px;
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.review-underline-wrapper::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #dc4c18;
    transition: width .6s;
}

.review-underline-wrapper:hover::after {
    width: 100%;
}


.canvas {
    margin-left: 5%;
    max-width: 90%;
}

.btn .view-attachment-button,
.btn-large .view-attachment-button,
.btn:hover .view-attachment-button,
.btn-large .view-attachment-button:hover {
    background-color: #033076; 
}

.open-attachment-span {
    display: inline-block;
    min-width: 100%;

}

.error-text{
    color: tomato;
    font-weight: 700;
}

i.icon-green {
    color: #629632;
}

.btn:hover, .btn-large:hover {
    background-color: #dc4c18;
    color: white;
}

ul.dropdown-content.select-dropdown li span {
    color: #dc4c18;
}

.delete-button {
    background-color: white;
    color: #b71c1c;
    transition: .5s !important;
    min-width: 90%;

}

.delete-button:hover {
    background-color: #b71c1c;
}

.delete-button:focus {
    background-color: #033076;
}

.remove-file-button {
    background-color: #033076;
    color: white;
    transition: .5s !important;
    min-width: 90%;
}

.reviews-wrapper .row {
    margin-bottom: 5px !important;
}

.view-buttons {
    max-width: 90%;
    margin: auto;
    border: none;
    border-radius: 2px;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    text-transform: uppercase;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.view-buttons:hover {
    background-color: #dc4c18;
}

.view-buttons:focus {
    background-color: #033076;
}

.view-icon {
    margin-top: 10px;
}

.review-modal { width: 75% !important ; height: 150% !important ; overflow: scroll; }  /* increase the height and width as you desire */

.indeterminate {
    width: 70%;
}

.progress {
    position: relative;
    height: 4px;
    display: block;
    width: 80%;
    text-align: center;
    background-color: #033076;
    border-radius: 2px;
    margin: .5rem 0 1rem 0;
    overflow: hidden;
    margin: 20px auto;
}

.progress .indeterminate:before,
.progress .indeterminate:after {
    background-color: #dc4c18 !important;
}