.navbar-logo {
    background-color: #262626;
    color: white;
    
}

#login {
    border-right: 1px solid white;
}

.link {
    display: inline-block;
<<<<<<< HEAD
    min-height: 100%;
    min-width: 100%;
=======
    min-width: 100%;
    min-height: 100%;
>>>>>>> stats_branch
}

nav .nav-wrapper {
    padding: 0 80px !important;
}

.aad_logo {
    margin-right: 30px;
    margin-left: -10px;
}

.font-thin {
    font-weight: 300;
}

i.arrow-icon {
    color: #f5f5f5;
}
.hamburger-menu-icon-container * {
    display: inline-block !important;
    margin: -6px 10px;
}

.hamburger-menu-icon-container {
    padding: 0 5px;
    
}
.hamburger-menu-icon-container:hover {
    cursor: pointer;
}

i.hamburger {
    position: absolute;
     top: 6px;
}

.uppercase {
    text-transform: uppercase;
}

.sof-aad-header {
    font-size: .75em !important;
}