.navbar-logo {
    background-color: #262626;
    color: white;
    
}

#login {
    border-right: 1px solid white;
}

.link {
    display: inline;
}

nav .nav-wrapper {
    padding: 0 80px !important;
}

.aad_logo {
    margin-right: 30px;
    margin-left: -10px;
}