.dash-heading-wrapper {
    margin: 0 40px;
}

.block {
    display: block !important;
}
.width40Per{
    width: 10%;
}
i.orange-icon {
    color: #dc4c18 !important;
}

hr.thick-line-orange {
    border: none;
    height: 1px;
    color: #262626;
    background-color: #262626;
    
}

hr.thin {
    border: none;
    height: 1px;
    color: #262626;
    background-color: #262626;
    /* max-width: 20%; */
}

.border-right-bottom {
    border-right: .5px solid #dcdcdc;
}

.border-left-bottom {
}

.dashboard-description-text {
    margin: auto;
    max-width: 70%;
    /* font-size: 1.2em; */
    
}

.dashboard-block-wrapper {
    padding-bottom: 2em;
    color: #262626;
}

.dashboard-block-wrapper * {
    padding: 10px;
}

hr {
    padding: 0 !important;
}

.j-title {
    /* font-family: 'Josefin Slab', serif;  */
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    letter-spacing: 2px;
    /* text-transform: uppercase; */
}