.dash-heading-wrapper {
    margin: 0 40px;
}

.block {
    display: block !important;
}
.width40Per{
    width: 40%;
}
i.orange-icon {
    color: #dc4c18 !important;
}

hr.thick-line-orange {
    border: none;
    height: 4px;
    /* Set the hr color */
    color: #dc4c18; /* old IE */
    background-color: #dc4c18; /* Modern Browsers */
}

hr.thick-line-blue {
    border: none;
    height: 4px;
    /* Set the hr color */
    color: #033076; /* old IE */
    background-color: #033076; /* Modern Browsers */
}
