.border-bottom-questions {
    border-bottom: 1px solid #d5d5d5;
    display: inline-block;
    padding: 10px !important;
}

.margin {
    margin: 15px 0;
}

.radio---control-radio---2rwkY .radio---control-indicator---dcwXW {
    /* position: absolute;
    top: -20px;
    left: 36%; */
}

.radio---control-radio---2rwkY .radio---control-indicator---dcwXW:hover {
    border: 1px solid #262626 !important;
} 

.radio-button {
    margin: 0px 2px;
    max-width: 50%; 
}

.radio---input-radio---2yM_b:checked + .radio---control-indicator---dcwXW::before {
    border: 1px solid #262626 !important;
    background-color: #262626 !important;
}

.radio---input-radio---2yM_b:checked + .radio---control-indicator---dcwXW::after {
    top: 2px !important;
}
